<div class="layout-topbar">
	<button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
		<i class="pi pi-bars"></i>
	</button>
	<a class="layout-topbar-logo" routerLink="">
		<img src="./../../assets/layout/images/finastra_logo.svg" alt="logo" />
		<!-- <span>SAKAI</span> -->
	</a>

	<button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
		<i class="pi pi-ellipsis-v"></i>
	</button>
	<div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
		<div [ngStyle]="selectedSelections == 'Processing' ? { left: '20%', position: 'fixed' } : { left: '20%', position: 'fixed' }">
			<div style="font-family: var(--font-family); margin-top: 12px" *ngIf="moduleValue == 'Processing'">
				<span *ngIf="!showDashboardEntity"
					><Span style="font-weight: 700" translate>label_current_selections </Span>
					<!-- &nbsp;&nbsp;<span style="color: var(--primary-color);">{{moduleValue | titlecase}}</span> &nbsp; -->
					<p-dropdown [options]="selections" [(ngModel)]="selectedSelections" optionLabel="name" [showClear]="false" (onChange)="changeSelection(selectedSelections)" placeholder="Select" optionValue="code"></p-dropdown> &nbsp;&nbsp;</span
				>
				<span *ngIf="!showDashboardEntity">
					<span *ngIf="selectedSelections == 'Processing' && selectedSessionType == 'cls1'" translate>label_view_type </span>&nbsp;&nbsp; &nbsp;<p-dropdown
						(onChange)="changeSelection(selectedViewType)"
						*ngIf="selectedSelections == 'Processing' && selectedSessionType == 'cls1'"
						[options]="viewTypes"
						[(ngModel)]="selectedViewType"
						optionLabel="name"
						[showClear]="false"
						placeholder="Select"
						optionValue="code"
					></p-dropdown>
					&nbsp;
				</span>
				<span *ngIf="!showDashboardEntity">
					<span *ngIf="selectedSelections == 'Processing'" translate>label_session_type</span> &nbsp;&nbsp;<p-dropdown
						(onChange)="changeSelection(selectedSessionType)"
						*ngIf="selectedSelections == 'Processing'"
						[options]="sessionTypes"
						[(ngModel)]="selectedSessionType"
						optionLabel="name"
						[showClear]="false"
						placeholder="Select"
						optionValue="code"
					></p-dropdown>
				</span>
			</div>
		</div>

		<div class="dashboardEntity" *ngIf="showDashboardEntity">
			<span>
				<p-button label="Main Application View" [raised]="true" rounded="true" (click)="backToMainApplicationView()" /> &nbsp;&nbsp;&nbsp;&nbsp; <span translate>label_session_type</span> &nbsp;&nbsp;<p-dropdown
					(onChange)="changeDashboard(selectedSessionTypeForDashboard)"
					[options]="sessionTypes"
					[(ngModel)]="selectedSessionTypeForDashboard"
					optionLabel="name"
					[showClear]="false"
					placeholder="Select"
					optionValue="code"
				></p-dropdown>
			</span>
		</div>
		<div style="">
			<div style="font-family: var(--font-family); margin-top: 3px; text-align: end">
				<Span style="font-size: 12px" translate>label_last_login_date_and_time</Span>
				&nbsp;&nbsp;<span style="font-size: 12px; color: var(--primary-color)">2023-05-14 17:46:47</span> &nbsp;
				<div style="font-size: 11px">If this appears to be incorrect then please contact application support immediately</div>
			</div>
		</div>
		<!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
		<!-- <span style="margin-left: 11px; margin-top: 9px"> <p-dropdown [options]="languages" [(ngModel)]="selectedLang" optionLabel="name" name="langChoose" #langChoos [showClear]="false" placeholder="Language" optionValue="lang" (onChange)="onLangChange(selectedLang)"></p-dropdown> &nbsp;&nbsp;</span> -->
		<span style="margin-left: 11px; margin-top: 9px">
			<p-avatar icon="pi pi-bell" pBadge value="4" (click)="showDialog('top')" severity="success" styleClass="mr-2"></p-avatar>
		</span>

		<p-dialog header="Alerts" [(visible)]="visible" [position]="position" [style]="{ width: '50vw' }">
			<p>
				<span class="btns">
					<p-button label="EOD/SOD Exception"></p-button>&nbsp;&nbsp;&nbsp;

					<p-button label="SYSTEM Exception"></p-button>&nbsp;&nbsp;&nbsp;

					<p-button label="Payments Exception"></p-button>&nbsp;&nbsp;&nbsp;

					<p-button label="Payplus for CLS Exc."></p-button>&nbsp;&nbsp;&nbsp;
				</span>
			</p>
		</p-dialog>

		<!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
		<span style="margin-left: 11px; margin-top: 0px">
			<p-menu #menu [model]="profileItems" [popup]="true" />
			<p-button (onClick)="menu.toggle($event)" icon="pi pi-user" severity="secondary" [rounded]="true" [text]="true" />
		</span>
	</div>
</div>
