<div class="layout-footer">
    <!-- <span class="btns">
        <p-button label="EOD/SOD Exception"></p-button>&nbsp;&nbsp;&nbsp;
    
        <p-button label="SYSTEM Exception"></p-button>&nbsp;&nbsp;&nbsp;
    
        <p-button label="Payments Exception"></p-button>&nbsp;&nbsp;&nbsp;
    
        <p-button label="Payplus for CLS Exc."></p-button>&nbsp;&nbsp;&nbsp;
    </span> -->
    <span style="float:right">

        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
        by
        <span class="font-medium ml-2">Finastra</span>
    </span>
</div>
