<ul class="layout-menu">
	<ng-container>
		<p-accordion [activeIndex]="activeIndx" (onOpen)="onTabOpen($event)" class="p-accord">
			<p-accordionTab [header]="item.label" *ngFor="let item of model; let i = index" style="margin-top: 14px">
				<span class="selections" *ngIf="activeIndx == 0"> </span>
				<div class="grid buTree" *ngIf="activeIndx == 1">
					<div class="col-12">
						<p-tree [value]="files" [filter]="true" [(selection)]="selectedFiles1" filterMode="strict" (click)="onButreeClick($event)" filterPlaceholder="Search BU Tree">
							<ng-template let-node pTemplate="default">
								<span [ngStyle]="matchString == node.label ? { 'font-weight': '700' } : { 'font-weight': '500' }">{{ node.label }}</span>
							</ng-template>
						</p-tree>
					</div>
				</div>

				<p>
					<span *ngIf="activeIndx == 2" style="font-weight: 600; padding: 1px 22px">{{ queueName }}</span> {{ selectedFiles1 }}
					<!-- <p-autoComplete style="display: contents;" placeholder="Search BU Tree" *ngIf="item.label == 'Tree'" [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)" (click)="onTreeClick($event)" field="name" [ngModelOptions]="{standalone: true}"></p-autoComplete> -->

					<li
						app-menuitem
						*ngIf="!item.separator"
						[item]="item"
						[index]="i"
						[root]="true"
						[ngStyle]="(item.label == 'Menu' ? { 'background-color': 'rgb(255 237 213)' } : null) || (item.label == 'Tree' ? { 'background-color': 'rgb(218 253 224)', padding: '0' } : null) || (item.label == 'Queue Explorer' ? { 'background-color': 'rgb(205 254 247)', padding: '0' } : null)"
					></li>
					<!-- <p-tree *ngIf="item.label == 'Tree'" [value]="files1" [(selection)]="selectedFiles1"></p-tree> -->

					<li *ngIf="item.separator" class="menu-separator"></li>
				</p>
			</p-accordionTab>
		</p-accordion>
	</ng-container>

	<!-- <li>
        <a href="https://www.primefaces.org/primeblocks-ng/#/">
            <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
        </a>
    </li> -->
</ul>
<div style="position: absolute; bottom: 0; margin-bottom: 10px">
	<label style="font-weight: bold">&nbsp;&nbsp;Version : </label>
	<span>{{ version?.__zone_symbol__value.GPP_VERSION_INFO.PRODUCT }}</span>
</div>
