<div class="layout-wrapper" [ngClass]="containerClass">
	<app-topbar *ngIf="layoutService.isDisplay"></app-topbar>

	<div class="layout-sidebar" *ngIf="layoutService.isDisplay">
		<div class="scrollbar" id="scrollbar1">
			<app-sidebar></app-sidebar>
		</div>
	</div>
	<div class="layout-main-container" *ngIf="layoutService.isDisplay">
		<div class="layout-main">
			<!-- Parent Clicked Buttons -->
			<div class="card flex align-items-center gap-2 flex-wrap" *ngIf="dt.length > 0" style="margin-bottom: 0">
				<span *ngFor="let item of dt; let i = index">
					<p-button label="{{ item }}" [rounded]="false" [ngClass]="item == selectedChip ? 'tabButton' : 'tabButtonUnselected'" severity="secondary" (click)="chipClicked(item)"></p-button>
				</span>
			</div>

			<span class="popChip" *ngIf="dt.length > 0">
				<p-button icon="pi pi-times" severity="danger" [rounded]="false" [text]="false" [outlined]="false" (click)="popChip()"></p-button>
			</span>
			<br />

			<router-outlet></router-outlet>
		</div>
		<app-footer></app-footer>
	</div>
	<router-outlet *ngIf="!layoutService.isDisplay"></router-outlet>

	<app-config></app-config>
	<div class="layout-mask"></div>
</div>
