<div>

    <div class="card flex align-items-center gap-2 flex-wrap" *ngIf="dt.length > 0" style="margin-bottom: 0;">
        
        <span *ngFor="let item of dt;let i = index">
            <!-- <p-chip [removable]="true">
                <div class="p-2" (click)="onChipClick(item)">{{item}} </div>
            </p-chip> -->
    
            <p-button label="{{item}}" [rounded]="true" severity="secondary" ></p-button>
        </span>
       
    
      
    </div>
    <span style="float: right;position: relative;top:-43px;right: 5px;" *ngIf="dt.length > 0">
        <p-button icon="pi pi-times" severity="danger" [rounded]="true" [text]="true"  [outlined]="true" (click)="popChip()"></p-button>
    </span>
</div>
<!-- <ul *ngFor="let item of dt;let i = index">
    <li>{{item}}</li> 

</ul> -->